<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HI_AI</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'widgets/theme_dark.css' %}">
    <link rel="stylesheet" href="{% static 'widgets/global/button/button.css' %}">

    <link rel="stylesheet" href="{% static 'ui_app/ui_app.css' %}">



</head>

<body>
    {% include 'widgets/app/capture/capture.html' %}

    {% include 'widgets/app/result_popup/result_popup.html' %}
</body>

</html>